In [28]:
import pandas as pd

In [29]:
emotion_df = pd.read_csv('text.csv')
violence_df = pd.read_csv('Train.csv')
hate_df = pd.read_csv('labeled_data.csv')

In [30]:
emotion_df.head()

   Unnamed: 0                                               text  label
0           0      i just feel really helpless and heavy hearted      4
1           1  ive enjoyed being able to slouch about relax a...      0
2           2  i gave up my internship with the dmrg and am f...      4
3           3                         i dont know i feel so lost      0
4           4  i am a kindergarten teacher and i am thoroughl...      4

In [31]:
emotion_df.drop(columns=['Unnamed: 0'], inplace = True)

In [32]:
violence_df.head()

,Tweet_ID,tweet,type
0,ID_0022DWKP,Had a dream i got raped last night. By a guy i...,sexual_violence
1,ID_00395QYM,he thought the word raped means sex and told m...,sexual_violence
2,ID_003EOSSF,She NOT TALKING TO ME I WAS RAPED BY 2 MEN 1 M...,sexual_violence
3,ID_004BBHOD,I was sexually abused for 3 years at age 4 to ...,sexual_violence
4,ID_004F7516,Chessy Prout can do better by telling the trut...,sexual_violence

In [33]:
violence_df.drop(columns=['Tweet_ID'], inplace = True)

In [34]:
hate_df.head()

,Unnamed: 0,count,hate_speech,offensive_language,neither,class,tweet
0,0,3,0,0,3,2,!!! RT @mayasolovely: As a woman you shouldn't...
1,1,3,0,3,0,1,!!!!! RT @mleew17: boy dats cold...tyga dwn ba...
2,2,3,0,3,0,1,!!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...
3,3,3,0,2,1,1,!!!!!!!!! RT @C_G_Anderson: @viva_based she lo...
4,4,6,0,6,0,1,!!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...

In [35]:
hate_df = hate_df[['tweet','class']]

In [36]:
emotion_df.head() 
violence_df.head() 
hate_df.head()

                                               tweet  class
0  !!! RT @mayasolovely: As a woman you shouldn't...      2
1  !!!!! RT @mleew17: boy dats cold...tyga dwn ba...      1
2  !!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...      1
3  !!!!!!!!! RT @C_G_Anderson: @viva_based she lo...      1
4  !!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...      1

In [37]:
violence_df.rename(columns={'tweet' : 'text', 'type' : 'label'}, inplace = True)

In [38]:
violence_df.head()

                                                text            label
0  Had a dream i got raped last night. By a guy i...  sexual_violence
1  he thought the word raped means sex and told m...  sexual_violence
2  She NOT TALKING TO ME I WAS RAPED BY 2 MEN 1 M...  sexual_violence
3  I was sexually abused for 3 years at age 4 to ...  sexual_violence
4  Chessy Prout can do better by telling the trut...  sexual_violence

In [40]:
hate_df.rename(columns={'tweet' : 'text', 'class' : 'label'}, inplace = True)

In [41]:
hate_df.head()

                                                text  label
0  !!! RT @mayasolovely: As a woman you shouldn't...      2
1  !!!!! RT @mleew17: boy dats cold...tyga dwn ba...      1
2  !!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...      1
3  !!!!!!!!! RT @C_G_Anderson: @viva_based she lo...      1
4  !!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...      1

In [45]:
# emotion_df.isnull().sum(),
# violence_df.isnull().sum(),
hate_df.isnull().sum()

text     0
label    0
dtype: int64

In [46]:
emotion_df.shape

(416809, 2)

In [47]:
violence_df.shape

(39650, 2)

In [48]:
hate_df.shape

(24783, 2)

In [50]:
emotion_df['label'].value_counts()

label
1    141067
0    121187
3     57317
4     47712
2     34554
5     14972
Name: count, dtype: int64

In [53]:
e_df = pd.DataFrame()
for i in range(0,6):
    subset = emotion_df[emotion_df['label'] == i].sample(n = 2000, random_state=42)
    e_df = pd.concat([e_df,subset])

emotion_df = e_df.copy()

In [54]:
emotion_df.shape

(12000, 2)

In [55]:
violence_df['label'].value_counts()

label
sexual_violence                 32648
Physical_violence                5946
emotional_violence                651
economic_violence                 217
Harmful_Traditional_practice      188
Name: count, dtype: int64